* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  padding: 2rem;
}
.container {
  border: 2px solid blueviolet;
  border-radius: 5px;
}

.heading {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.--main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

#--time {
  font-size: 2rem;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#--time h1 {
  background-color: rgb(240, 220, 254);
  padding: 0.5rem;
}
#--time span {
  font-size: 3rem;
  font-weight: bold;
}

.--button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.--button section {
  width: 60%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.--button button {
  background-color: rgb(134, 12, 248);
  padding: 0.4rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.--button img {
  height: 1.5rem;
}

@media only screen and (min-width: 450px) {
  .container {
    margin-inline: calc((100vw - 450px) / 2);
  }
  .--button section {
    width: 40%;
  }
}
